<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776668355888-m9j5cbtig1qbd1jsghsgpvac8r6d90k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776668355888-m9j5cbtig1qbd1jsghsgpvac8r6d90k9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776668355888-ukv3lu8leq0mlfs8746sr4mi1c4dtvro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAL0yWnOKhDyia6CxU6LhGpAHekOyhTIsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>776668355888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.my5to1diet</string>
	<key>PROJECT_ID</key>
	<string>to1diet</string>
	<key>STORAGE_BUCKET</key>
	<string>to1diet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776668355888:ios:f7fece168eeed4118c3cf5</string>
</dict>
</plist>